<ion-content [fullscreen]="true">
  <!-- Container -->
  <div class="flex-column-center">
    <!-- Hero Image -->
    <div
      class="relative w-full login-height login-background-image">

      <!-- Gradient Overlay -->
      <div
        class="absolute inset-0 bg-gradient-to-t from-background via-background/50 to-transparent"
      ></div>

      <!-- Logo -->
      <div class="abs-bottom">
        <div
          class="p-4 bg-primary rounded-full d-flex items-center justify-center shadow-2xl shadow-primary/30 logo-border animate-float"
        >
          <img
            src="assets/icons/spoon-and-fork-svgrepo-com.svg"
            alt="Savor logo"
            class="w-64 h-64"
          />
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="flex-1 d-flex flex-col px-8 py-6 gap-8 max-width-464">
      <!-- Welcome Text -->
      <div class="text-center">
        <h1 class="text-4xl font-extrabold leading-tight tracking-tight">
          Welcome to <span class="text-primary">Savor</span>
        </h1>
        <p class="text-base font-medium leading-relaxed text-muted px-2 mt-2">
          Experience gourmet flavors delivered directly from our kitchen to your doorstep.
        </p>
      </div>

      <!-- Action Buttons -->
      <div class="d-flex flex-col gap-4 w-full mx-auto">
        <app-button variant="primary" size="lg" [fullWidth]="true" (clicked)="onLogin()">
          Log In
        </app-button>

        <app-button variant="secondary" size="lg" [fullWidth]="true" (clicked)="onCreateAccount()">
          Create Account
        </app-button>
      </div>

      <div class="flex-column-center gap-4">
          <!-- Divider -->
            <span class="text-xs font-bold uppercase tracking-widest text-subtle"
              >Or continue with</span
            >

          <!-- Social Buttons -->
            <app-auth-social-buttons (socialLogin)="onSocialLogin($event)"></app-auth-social-buttons>

          <!-- Guest Access -->
            <button
              (click)="onContinueAsGuest()"
              class="w-full pb-4 text-sm font-semibold text-muted hover:text-white transition-colors text-center"
            >
              Continue as Guest
            </button>
      </div>
    </div>

  </div>
</ion-content>
