// Welcome Page - Minimal Component Styles (Using Utilities)
@use '../../../../styles/abstracts/variables' as *;

ion-content {
  --background: #{$background};
}

// Simple fadeIn animation for logo
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}

.login-background-image {
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAL0d41UHuCaRdioQAaMD0vp0uaTYXKSnhSwPRvQdX_-l7-B9zZb-IPdgKkLvS43TjZbvi_4QT36LQ03WZbZQ9NStiDa6q55P_tTR7OxvohCuXTaYjfetge-BuGEzMzKx3rFZL8T1MvlPhpbkvs0M9kPsVTfKrx4Z-8awI6YaRzZ9YZymJq_ftuhYCWV4TY9II7F2rgBpga8JuhiarGs8wv7glqwaPa0TFh8GHRfeTI1cvR0jYmQyZpFFBElIIDoc1hMuc0-hgZcnc');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo-border {
  border: 4px solid $background;
}
